<?xml version="1.0" encoding="utf8"?>

<!-- 
     medelande
-->

<web-app xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
  version="3.0"
  metadata-complete="true">

  <display-name>Tomcat Arrangorer server</display-name>
  <description>
  En server för att spara data om olika arrgorer i en databas eller fil.
  </description>

  <!-- <servlet> -->
  <!--   <servlet-name>HostManager</servlet-name> -->
  <!--   <servlet-class>org.apache.catalina.manager.host.HostManagerServlet</servlet-class> -->
  <!--   <init-param> -->
  <!--     <param-name>debug</param-name> -->
  <!--     <param-value>2</param-value> -->
  <!--   </init-param> -->
  <!-- </servlet> -->

  <!-- <1! Security roles referenced by this web application 1> -->
  <!-- <security-role> -->
  <!--   <description> -->
  <!--     The role that is required to log in to the Host Manager Application HTML -->
  <!--     interface -->
  <!--   </description> -->
  <!--   <role-name>admin-gui</role-name> -->
  <!-- </security-role> -->
  <!-- <security-role> -->
  <!--   <description> -->
  <!--     The role that is required to log in to the Host Manager Application text -->
  <!--     interface -->
  <!--   </description> -->
  <!--   <role-name>admin-script</role-name> -->
  <!-- </security-role> -->
<servlet>
  <servlet-name> ArrangorerServlet </servlet-name>
  <servlet-class>src.arrcontroller.ArrangorerServlet </servlet-class>
  <init-param>
    <param-name>jdbcDriver</param-name>
    <param-value>com.mysql.jdbc.Driver</param-value>
  </init-param>

  <init-param>
    <param-name>dbURL</param-name>
    <param-value>jdbc:mysql://localhost:3306/arrangorer</param-value>
  </init-param>

  <init-param>
    <param-name>dbUserName</param-name>
    <param-value>phil</param-value>
  </init-param>

  <init-param>
    <param-name>dbPassword</param-name>
    <param-value>goNorticgo</param-value>
  </init-param>
</servlet>
  <servlet-mapping>
    <servlet-name> ArrangorerServlet </servlet-name>
    <url-pattern> /controller </url-pattern>  
  </servlet-mapping>

  <!-- <error-page> -->
  <!--   <error-code>401</error-code> -->
  <!--   <location>/WEB-INF/jsp/401.jsp</location> -->
  <!-- </error-page> -->
  <!-- <error-page> -->
  <!--   <error-code>403</error-code> -->
  <!--   <location>/WEB-INF/jsp/403.jsp</location> -->
  <!-- </error-page> -->
  <!-- <error-page> -->
  <!--   <error-code>404</error-code> -->
  <!--   <location>/WEB-INF/jsp/404.jsp</location> -->
  <!-- </error-page> -->
</web-app>



